
#main_div{
    width: 80vw;
    font-family: Helvetica, sans-serif;
}
#main_product_div{
    margin-top: 150px;
    width: 90%;
    margin-bottom: 50px;
}
#main_product_div>div{
    display: flex;
    /* border: 2px solid yellow; */
    margin: auto;
    margin-left: 10%;
}
#product_image_div{
    width: 200px;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 18%;
}

#main_product{
   
   
}

#main_product img{
    width: 100%;
    /* border: 1px solid black; */
}

#product_name{
    font-family: fantasy;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    
}
/* floating div */

#floating_div{
    flex: 1;
    border: 2px solid palevioletred;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 25px;
}


#name_qty_button{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
align-items: center;}

#name_qty_button>h3{
    font-family: fantasy;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 100;
    color: #DE8F19
}

#name_qty_button i{
    padding: 8px;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    #main_product_div>div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #main_product{
        /* border: 2px solid palevioletred; */
        /* border-radius: 50%; */
        background-color: rgb(253, 253, 253);
        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 100%;
        
       
    }

    #product_image_div{
        width: 200px;
        margin-bottom: 80px;
    }
   
    #floating_div{
        width: 80%;
    }

}